<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kjq.mapper.ArticleMapper">
    <select id="getArticles" resultType="com.kjq.POJO.Article">
        select * from article

        where article_status = 1
        <if test="sortId != null and sortId != 0">
            and sort_id = #{sortId}
        </if>
        <if test="searchText != null">
            and title like '%${searchText}%'
        </if>
        limit #{page}, #{num}

    </select>

    <select id="getMaintainArticles" resultType="com.kjq.model.vo.ArticleVo">
        select
               article.id as id,
               sort.content as sort,
               user.username as name,
               article.create_time as create_time,
               article.title as title,
               article.content as content
        from article
        join sort on article.sort_id = sort.id
        join `user` on  article.user_id = user.id
        where article.article_status = 1
        and article.user_id = #{id}
        limit #{page}, #{limit}
    </select>

    <select id="getAdminArticles" resultType="com.kjq.model.vo.ArticleVo">
        select
            article.id as id,
            sort.content as sort,
            user.username as name,
            article.create_time as create_time,
            article.title as title,
            article.content as content
        from article
                 join sort on article.sort_id = sort.id
                 join `user` on  article.user_id = user.id
        where article.article_status = #{status}
            limit #{page}, #{limit}
    </select>
</mapper>