<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kjq.mapper.ConsultMapper">
    <select id="getConsults" resultType="com.kjq.model.vo.ConsultVo">
        SELECT
            consult.id AS id,
            send.username AS send_name,
            accept.username AS accept_name,
            consult.content AS content,
            consult.create_time AS create_time
        FROM consult
                 JOIN `user` AS send ON consult.user_send_id = send.id
                 JOIN `user` AS accept ON consult.user_accept_id = accept.id
        WHERE consult.consult_status = 1
          AND consult.user_accept_id = #{id}
          AND consult.`status` = 0
            LIMIT #{page}, #{limit}
    </select>
    <select id="getAdminConsults" resultType="com.kjq.model.vo.ConsultVo">
        SELECT
            consult.id AS id,
            send.username AS send_name,
            accept.username AS accept_name,
            consult.content AS content,
            consult.create_time AS create_time
        FROM consult
                 JOIN `user` AS send ON consult.user_send_id = send.id
                 JOIN `user` AS accept ON consult.user_accept_id = accept.id
        WHERE consult.consult_status = 1
            LIMIT #{page}, #{limit}
    </select>
</mapper>